{% assign test = "TEST" %}
{{ test | log }}

{% json rest_input %}
  {
    "path": "/orders/1234567/fulfillments.json",
    "method": "POST",
    "body": {
      "fulfillment": {
        "location_id": "98765431",
        "notify_customer": false,
        "status": "success"
      }
    }
  }
{% endjson %}
{% assign fulfillment_result = rest_input | rest %}

{{ "TEST" | log }}
