{{request.body | log }}

{% json response %}
    {
        "body": {
            "status": "ok"
        },
        "headers": {
            "Content-Type": "application/json"
        },
        "status": 200
    }
{% endjson %}