{%- comment -%}GraphQL queries and mutations definitions{%- endcomment -%}

{% assign required_tag = "vip" %}

{% capture customers_query %}
  query customers($cursor: String, $query: String) {
    customers(first: 250, after: $cursor, query: $query) {
      edges {
        node {
            id
            tags
            firstName
            lastName
        }
        cursor
      }
      pageInfo {
        hasNextPage
      }
    }
  }
{% endcapture %}

{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
    {% json customers_query_input %}
    {
        "input": {"cursor": null, "query": "tag:dummy_tag"}
    }
    {% endjson %}
    {% assign result = customers_query | graphql: customers_query_input %}
{% endif %}
{%- comment -%}END REST and GraphQL definitions{%- endcomment -%}

{% assign cursor = "null" | parse %}

{% comment %} Iterate over pages {% endcomment %}
{% for n in (0..1000) %}
    {% json query_input %}
      { 
        "cursor": {{cursor | json}},
        "query": "tag:{{required_tag}}"
      }
    {% endjson %}

    {% assign result = customers_query | graphql: query_input %}
	{{result | log }}
    {% comment %} Iterate over customer on single page {% endcomment %}
    {% for customer_edge in result.customers.edges %}
        {% assign customer = customer_edge.node %}
        {% capture log %}{{customer.firstName}} {{customer.lastName}}{% endcapture %}
        {{log | log }}
    {% endfor %}

    {% if result.customers.pageInfo.hasNextPage %}
        {% assign cursor = result.customers.edges.last.cursor %}
    {% else %}
        {% break %}
    {% endif %}
{% endfor %}




