{% assign balance = "$57.00 - outer" %}
{% assign email = "email@email.com" %}
{{request.body.id | log }}
{% json variables %}
	{
		"balance": {{balance | json }}, 
        "email": {{ email | json }}
	}
{% endjson %}
    
{% capture html %}
	{% raw %}
    	{% render "datajet-test", html: true, %%balance%%, %%email%% %}
    {% endraw %}
    <p> This is html you return from datajet<p/>
{% endcapture %}

{% for variable in variables %}
	{% capture to_replace %}%%{{variable.first}}%%{% endcapture %}
    {% capture replace_with %}{{variable.first}}:"{{variable.last}}"{% endcapture %}
	{% assign html = html | replace: to_replace, replace_with  %}
{% endfor %}

{% json response %}
  {
    "body": {{html | json }},
    "status": 201,
    "headers": {
      "Content-Type": "application/liquid"
    }
  }
{% endjson %}

{% assign output = "mat" | apply: "Test" %}

{{output | log }}

{% json response %}
  {
    "body": {
    	"success": true
    },
    "status": 201,
    "headers": {
      "Content-Type": "application/json"
    }
  }
{% endjson %}