{{"Mat" | log }}

{% capture request_options %}
  {
    "url": "https://webhook.site/3a453045-bb45-45b3-aefe-3c8f1971b7c9",
    "method": "POST",
    "headers": {
      "Content-Type": "application/json"
    },
    "body": {
      "foo": "bar"
    }
  }
{% endcapture %}

{% assign response = request_options | http %}

{% if response.ok %}
  {{ "Success!" | log }}
{% else %}
  {{ "Fail!" | log }}
{% endif %}