{% comment %}Start REST and GraphQL definitions{% endcomment %}
{% capture tags_update_mutation %}
  mutation tagsUpdate($id: ID!, $tagsRemove: [String!]!, $tagsAdd: [String!]!) {
    tagsRemove(id: $id, tags: $tagsRemove) {
      node {
        id
      }
      userErrors {
        field
        message
      }
    }
    tagsAdd(id: $id, tags: $tagsAdd) {
      node {
        id
      }
      userErrors {
        field
        message
      }
    }
  }
{% endcapture %}

{% comment %} Feed compiler with dummy values to evaluate permissions required.{% endcomment %}
{% if mode.compiler %}
  {% json tags_update_input %}
    {
      "id": "gid://shopify/Order/300666",
      "tagsAdd": [],
      "tagsRemove": []
    }
  {% endjson %}
  {% assign result = tags_update_mutation | graphql: tags_update_input %}
{% endif %}
{% comment %}END REST and GraphQL definitions{% endcomment %}

{% json tags_update_input %}
{
  "id": "gid://shopify/Order/1234",
  "tagsAdd": ["tag-to-add"],
  "tagsRemove": ["tag-to-remove"]
}
{% endjson %}
{% assign result = tags_update_mutation | graphql: tags_update_input %}