{% capture csv_report %}
order_id, total
#121, 220
#122, 140
{% endcapture %}

{% json upload_options %}
  {
    "fileName": "report.csv",
    "content": {{csv_report | strip | json }},
    "public": false
  }
{% endjson %}

{% assign file_result = upload_options | file %}


{% json upload_options %}
  {
    "fileName": "report1.csv",
    "content": {{csv_report | strip | json }},
    "public": false
  }
{% endjson %}

{% assign file_result = upload_options | file %}


{% json upload_options %}
  {
    "fileName": "report2.csv",
    "content": {{csv_report | strip | json }},
    "public": false
  }
{% endjson %}

{% assign file_result = upload_options | file %}
