{% json email_params %}
	{
        "to": "mateusz@code57.pl",
        "subject": "90 days order purge",
        "replyTo": "mateusz@code57.pl",
        "html": "<p>Purge performed</p>"
    }
{% endjson %}

{{email_params | email }}