{% json ftp_params %}
  {
    "mode": "upload",
    "host": "sapedi.amersports.com",
    "user": "US_Shopify_03",
    "password": "5h0n42D2C511759",
    "path": "/AMQ099/to_Amer/salomon_kr/Orders/",
    "content": "test",
    "fileName": "orders_test.csv",
    "port": 22,
    "sftp": true,
    "use_server_key": true
  }
{% endjson %}
{% assign result = ftp_params | ftp %}

{% assign test = "mat" %}

{% comment %}
HEEGEGE
{% endcomment %}