      {% json request_options %}
        { 
          "url": "https://ademax-strom.de/ECOFLOW-RIVER-2-MAX-512Wh-500W-PORTABLE-POWER-STATION/RIVER-2-MAX",
          "method": "GET",
          "raw": true
        }
      {% endjson %}
      {% assign name = value %}
      {% assign page = request_options | http %}

      {% assign name = value %}
      {{ page.body 
        | split: "product-detail-quantity-select" 
        | last | split: "</select>" 
        | first | remove: "</option>" | remove: "<option value=" | split: ">" | last | plus: 0 | log }}