{% capture create_stage_upload_mutation %}
  mutation stagedUploadsCreate($input: [StagedUploadInput!]!) {
    stagedUploadsCreate(input: $input) {
      stagedTargets {
        resourceUrl
        url
        parameters {
          name
          value
        }
      }
      userErrors {
        field
        message
      }
    }
  }
{% endcapture %}

{% capture product_create_media_mutation %}
mutation productCreateMedia($media: [CreateMediaInput!]!, $productId: ID!) {
  productCreateMedia(media: $media, productId: $productId) {
    media {
      status
    }
    product {
      id
    }
    userErrors {
        field
        message
    }
  }
}
{% endcapture %}

{% json create_stage_upload_input %}
{
  "input": [{
    "resource": "VIDEO",
    "filename": "OI007_4.mp4",
    "mimeType": "video/mp4"
  }]
}
{% endjson %}

{% assign result = create_stage_upload_mutation | graphql: create_stage_upload_input %}
{{ result | log }}
{% assign stageTarget = result.stagedUploadsCreate.stagedTargets.first %}

{% if stageTarget != blank %}

  {% json form_input %}
    {
      "url": {{stageTarget.url | json }},
      "parameters": {{ stageTarget.parameters | json }}
    }
  {% endjson %}
  {% json file_param %}
    {
      "name": "file",
      "value": "https://datajet.s3.us-east-2.amazonaws.com/organic-island-au.myshopify.com/DataJet/OI007_4.mp4"
    }
  {% endjson %}
  {% assign form_input["parameters"] = form_input["parameters"] | push: file_param %}
  {% assign result = form_input | form %}
  {{result | log }}

  {% json product_media_input %}
    {
      "media": [
        {
          "alt": "test",
          "originalSource": "{{stageTarget.resourceUrl}}",
          "mediaContentType": "VIDEO"
        }
      ],
      "productId": "gid://shopify/Product/8005352653093"
    }
  {% endjson %}

  {% assign media_create_result = product_create_media_mutation | graphql: product_media_input  %}
  {{media_create_result | log }}
{% endif %}

