{% capture query %} 
    query customer($id: ID!) {
      customer(id: $id) {
        id
        firstName
        email
        createdAt
        subscriptionContracts{
          edges(first: 5){
            node{
              status
            }
          }
        }
      }
    }
{% endcapture %}

{% comment %} mode.compiler is only true in code editor mode - this is for supplying mutation with dummy variables. This way compilers knows what permissions to req{% endcomment %}
{% if mode.compiler %}
  {% json dummy_variables %}
    {
      "id": "gid://shopify/Customer/12345"
    }
  {% endjson %}

  {% assign result = query | graphql: dummy_variables %}
{% endif %}

{% json dummy_variables %}
    {
      "id": "gid://shopify/Customer/7348423590226"
    }
{% endjson %}

{% assign result = query | graphql: dummy_variables  %}

{{result | log }}