{% comment %} GET TOKEN FIRST {% endcomment %}
{% json rl_token_options %}
  {
	"url": "https://api-amer-aus-qa.reverselogix.io/v2/oauth/token?grant_type=client_credentials",
    "method": "POST",
    "body": "grant_type=client_credentials",
    "headers": {
    	"Content-Type": "application/x-www-form-urlencoded",
        "Scope": "amer",
        "Authorization": "Basic ZGVtb2NsaWVudDpkZW1vY2xpZW50c2VjcmV0"
    }
  }
{% endjson %}

{% assign token_response = rl_token_options | http %}
{{token_response | log }}
{% assign token = token_response.body.access_token %}

{{token | log}}

  {% capture request_options %}
  {
    "url": "https://datajet.free.beeceptor.com/my/api/path",
      "method": "POST",
      "body": {
          "profiles": {"test": "123"}
      }
  }
  {% endcapture %}
  {% assign request_options = request_options | parse %}
  {% assign result = request_options | http %}
  {{result | log }}
  
  