{% assign current_run = "current_runs" | get %}

{% unless current_run %} {% assign current_run = 1 %} {% endunless %}
{{current_run | log }}
{% assign new_current_run = current_run | plus: 1 %}

{% assign result = "current_runs" | set: new_current_run %}