{% capture fulfillment_orders_query %}
  query order($id: ID!) {
    order(id: $id) {
      fulfillmentOrders(first: 10, query: "status:OPEN") {
        edges {
          node {
            id
            status
            assignedLocation {
              location {
                id
                legacyResourceId
                name
              }
            }
            lineItems(first: 10) {
              edges {
                node {
                  lineItem {
                    sku
                    variant {
                      legacyResourceId
                    }
                  }
                  id
                  remainingQuantity
                }
              }
            }
          }
        }
      }
    }
  }
{% endcapture %}

{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
  {% json fulfillment_orders_query_variables %}
    {
      "id": "gid://shopify/Order/1234567"
    }
  {% endjson %}
  {% assign result = fulfillment_orders_query | graphql: fulfillment_orders_query_variables %}
{% endif %}
{%- comment -%}END REST and GraphQL definitions{%- endcomment -%}

{% assign order = payload %}

{% comment %}Create dummy order for compiler{% endcomment %}
{% if order == blank %}
	{% json order %}{"admin_graphql_api_id": "gid://shopify/Order/12354"}{% endjson %}
{% endif %}

{% json fulfillment_orders_query_variables %}
  {
    "id": "{{order.admin_graphql_api_id}}"
  }
{% endjson %}

{% assign result = fulfillment_orders_query | graphql: fulfillment_orders_query_variables %}

{% for fulfillment_order_edge in result.order.fulfillmentOrders.edges %}
  {% assign fulfillment_order = fulfillment_order_edge.node %}
  {% capture log %}Assigned fulfillment location: {{fulfillment_order.assignedLocation.location.name}}{% endcapture %}
  {{log | log }}
{% endfor %}