{%- comment -%}GraphQL queries and mutations definitions{%- endcomment -%}
{% capture products_query %}
  query products($cursor: String) {
    products(first: 250, after: $cursor) {
      edges {
        node {
            id
            tags
            title
        }
        cursor
      }
      pageInfo {
        hasNextPage
      }
    }
  }
{% endcapture %}

{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
    {% json products_query_variables %}
    {
        "input": { "cursor": null }
    }
    {% endjson %}
    {% assign result = products_query | graphql: products_query_variables %}
{% endif %}
{%- comment -%}END REST and GraphQL definitions{%- endcomment -%}

{% assign cursor = "null" | parse %}

{% comment %} Iterate over pages {% endcomment %}
{% for n in (0..1000) %}
    {% json query_input %}
        { "cursor": {{cursor | json}} }
    {% endjson %}
    
    {% assign result = products_query | graphql: query_input %}
    
    {% comment %} Iterate over product on single page {% endcomment %}
    {% for product_edge in result.products.edges %}
        {% assign product = product_edge.node %}
    {% endfor %}
	{{result.products.pageInfo | log }}
    {% if result.products.pageInfo.hasNextPage %}
        {% assign cursor = result.products.edges.last.cursor %}
    {% else %}
        {% break %}
    {% endif %}
{% endfor %}