{% assign start_date = "now" | in_timezone: shop.timezone | time_subtract: 1, "hours" %}
{{shop.timezone | log }}
{{"mat" | log }}
{%- comment -%}GraphQL queries and mutations definitions{%- endcomment -%}
{% capture order_query %}
  query orders($cursor: String) {
    orders(first: 250, after: $cursor, query:"created_at:>'{{start_date}}'") {
      edges {
        node {
            id
            name
            tags
        }
        cursor
      }
      pageInfo {
        hasNextPage
      }
    }
  }
{% endcapture %}

{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
    {% json order_query_input %}
    {
        "input": { "cursor": null }
    }
    {% endjson %}
    {% assign result = order_query | graphql: order_query_input %}
{% endif %}
{%- comment -%}END REST and GraphQL definitions{%- endcomment -%}

{% assign cursor = "null" | parse %}

{% comment %} Iterate over pages {% endcomment %}
{% for n in (0..1000) %}
  {% json query_input %}
    { "cursor": {{cursor | json}} }
  {% endjson %}

  {% assign result = order_query | graphql: query_input %}

  {% comment %} Iterate over orders on single page {% endcomment %}
  {% for order_edge in result.orders.edges %}
    {% assign order = order_edge.node %}
    {{order.name | log }}
  {% endfor %}

  {% if result.orders.pageInfo.hasNextPage %}
    {% assign cursor = result.orders.edges.last.cursor %}
  {% else %}
    {% break %}
  {% endif %}
{% endfor %}