{% json rest_input %}
  {
    "path": "/carrier_services.json",
    "method": "POST",
    "body": {
      "carrier_service": {
        "name": "Custom DataJet Rates",
        "callback_url": "https://ravensfans.myshopify.com/apps/datajetstaging/task/619d2c704f64e3062225d402",
        "service_discovery": true
      }
    }
  }
{% endjson %}

{% assign shipping_api_result = rest_input | rest %}

{{ shipping_api_result | log }}
{% json metafield_rest_input %}
  {
    "path": "/metafields.json",
    "method": "POST",
    "body": {
      "metafield": {
        "namespace": "datajet",
        "key": "shipping_rate_id",
        "value": "{{shipping_api_result.body.carrier_service.id}}",
        "value_type": "string"
      }
    }
  }
{% endjson %}
{% assign metafield_rest_result = metafield_rest_input | rest %}
{{metafield_rest_result | log }}