{% json email_params %}
  {
    "to": "mateusz@code57.pl",
    "subject": "Dummy",
    "replyTo": "mateusz@code57.pl",
    "html": "<h2> Hello! </h2>",
    "attachments": [
      {
        "filename": "test.csv",
        "content": "name,last_name \n john,smith"
      }
    ]
  }
{% endjson %}


{{ email_params | email }}