{{ request.body  | log }}
{{ request.files | log }}
{{ request.files["attachment1"] | log }}

{% json upload_options %}
  {
    "fileName": "file.json",
    "multipart": {{ request.files["attachment1"] | default: "" | json }},
    "public": false
  }
{% endjson %}

{% assign file_result = upload_options | file %}

{% assign file_content = "file.json" | content %}

{{ file_content | log }}