{%- comment -%}Start REST and GraphQL definitions{%- endcomment -%}

{% capture query %}
  query location($query: String!, $cursor: String) {
    {% for location in LOCATIONS_TO_SYNC %}
    {{location.name}}: location(id: "gid://shopify/Location/{{location.id}}") {
      id
      name
      inventoryLevels(first: 150, query: $query, after: $cursor) {
        edges {
          node {
            available
            item {

              variant {
                id
              }
            }
          }
          cursor
        }
        pageInfo {
          hasNextPage
        }
      }
    }
    {% endfor %}
  }
{% endcapture %}

{% capture metafields_set_mutation %}
  mutation metafieldsSet($metafields: [MetafieldsSetInput!]!) {
    metafieldsSet(metafields: $metafields) {
      metafields {
        id
      }
      userErrors {
        field
        message
      }
    }
  }
{% endcapture %}
{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
  {% json dummy_query_variables %}
    {
      "query": "updated_at:>2022-10-10"
    }
  {% endjson %}
  {% assign result = query | graphql: dummy_query_variables %}
  {% json dummy_mutation_variables %}
    {
      "metafields": [
        {
          "key": "location_name",
          "namespace": "inventory",
          "value": "1",
          "type": "INTEGER",
          "ownerId": "gid://shopify/ProductVariant/1234"
        }
      ]
    }
  {% endjson %}
  {% assign result = metafields_set_mutation | graphql: dummy_mutation_variables %}
{% endif %}

{%- comment -%}END REST and GraphQL definitions{%- endcomment -%}

{% assign timeframe_to_sync = 300 %}

{% assign now = "now" | date: "%s" %}
{% assign time = now | minus: timeframe_to_sync %}
{% assign updated_after = time | date: "%Y-%m-%dT%H:%M:%S%z" %}
{% capture query_input %}
    {
    "query": {{"updated_at:>='" | append: updated_after | append: "'" | json}},
    "cursor": null
    }
{% endcapture %}

{% assign result = query | graphql: query_input %}

{% for location in LOCATIONS_TO_SYNC %}
  {% assign inventory_levels = result[location.name].inventoryLevels.edges | map: "node" %}
  {% assign inventory_levels_grouped = inventory_levels | in_groups_of: 25  %}
  {% for inventory_group in inventory_levels_grouped  %}
    {% assign mutation_input = "[]" | parse %}

    {% for inventory_level in inventory_group %}
      {% json entry %}
        {
          "key": {{location.name | json }},
          "namespace": "inventory",
          "value": "{{inventory_level.available | json }}",
          "type": "number_integer",
          "ownerId": {{inventory_level.item.variant.id | json }}
        }
      {% endjson %}
      {% assign mutation_input = mutation_input | push: entry %}
    {% endfor %}
    {% comment %}
    {% endcomment %}
    {% json mutation_variables %}
      {
        "metafields": {{mutation_input | json }}
      }
    {% endjson %}
    {% assign mutation_result = metafields_set_mutation | graphql: mutation_variables %}
  {% endfor %}
{% endfor %}



