{% assign start_date = "now" | in_timezone: "Pacific/Auckland" | time_subtract: 1000, "hours" %}
{% comment %}
{% assign REPORT_RECIPIENT = "hqonline@augustine.co.nz, sandra@augustine.co.nz, charlotte@overdose.digital, mateusz@overdose.digital" %}
{% endcomment %}
{% assign REPORT_RECIPIENT = "mateusz@overdose.digital" %}
{% capture query %}
  query orders($cursor: String) {
    orders(
      first: 50
      query: "created_at:>='{{start_date}}'"
      after: $cursor
    ) {
      edges {
        node {
          id
          name
          customer {
            email
          }
          displayFulfillmentStatus
          fulfillmentOrders(first: 5) {
          	edges {
            	node {
                  id
                  status
                  assignedLocation {
                    location {
                      legacyResourceId
                    }
                  }
                }
          	}
          }
        }
        cursor
      }
      pageInfo {
        hasNextPage
      }
    }
  }
{% endcapture %}

{% capture fulfillment_order_line_items_query %}
  query fulfillmentOrder($id: ID!, $cursor: String) {
    fulfillmentOrder(id: $id) {
      id 
      lineItems(first: 240, after: $cursor) {
        edges {
          node {
            lineItem {
              id
              title
              quantity
              variant {
                title
                sku
                metafield (namespace:"warehouse",key:"bin_number3") {
                  value
                }
              }
            }
            id
            totalQuantity
          }
          cursor
        }
        pageInfo {
          hasNextPage
        }
      }
    }
  }
{% endcapture %}
{% assign new_line = "
" %}

{% capture report_header %}
	"Order ID", "SKU", "Line item title", "Variant", "Bin number", "Fulfilment", "Fulfilment location", "Quantity"
{% endcapture %}

{% assign report_header = report_header | strip | append: new_line %}

{% assign csv = report_header %}
{% assign opt_in_count = 0 %}

{% json query_input %} {  "cursor": null  } {% endjson %}

{% for n in (0..1000) %}

  {% assign result = query | graphql: query_input %}
  {% assign orderEdges = result.orders.edges %}

  {% if mode.compiler or orderEdges == blank %}
    {% assign orderEdges = "[]" | parse %}
  {% endif %}

  {% for orderEdge in orderEdges %}
    {% assign order = orderEdge.node %}
    {% json processed_locations %}[]{% endjson %}
    {% for fulfillmentOrderEdge in order.fulfillmentOrders.edges %}
    	{% if processed_locations contains fulfillmentOrderEdge.node.assignedLocation.location.legacyResourceId %} {% continue %} {% endif %}
    	{% comment %}
    	{% assign displayFulfillmentStatus = fulfillmentOrderEdge.node.status %}
        {{displayFulfillmentStatus | log }}
        {% if displayFulfillmentStatus == "CLOSED" %}
        	{% assign displayFulfillmentStatus = "FULFILLED" %}
        {% else %}
        	{% assign displayFulfillmentStatus = "UNFULFILLED" %}
        {% endif %}
        {% endcomment %}
        
        {% assign displayFulfillmentStatus = order.displayFulfillmentStatus %}
        {% assign location = fulfillmentOrderEdge.node.assignedLocation.location.legacyResourceId %}

    	  {% json fulfillment_order_input %} 
          {  "cursor": null, "id": {{fulfillmentOrderEdge.node.id | json }}  } 
        {% endjson %}


        {% for m in (0..1000) %}
          {% assign inner_result = fulfillment_order_line_items_query | graphql: fulfillment_order_input %}
          {% assign lineItemEdges = inner_result.fulfillmentOrder.lineItems.edges %}
          {% for lineItemEdge in lineItemEdges %}
              {% assign line_item = lineItemEdge.node.lineItem %}
              {% assign line_item_variant = line_item.variant %}
              {% capture report_row %}
              "{{order.name}}","{{line_item_variant.sku}}","{{line_item.title}}","{{line_item_variant.title}}","{{line_item_variant.metafield.value}}",{{displayFulfillmentStatus}},{{location}},{{line_item.quantity}}
              {% endcapture %}
              {% assign report_row = report_row | strip | append: new_line %}
              {% assign csv = csv | append: report_row %}
              {% assign opt_in_count = opt_in_count | plus: 1 %}
          {% endfor %}

          {% if inner_result.fulfillmentOrder.lineItems.pageInfo.hasNextPage %}
            {% assign fulfillment_order_input.cursor = inner_result.fulfillmentOrder.lineItems.edges.last.cursor %}
          {% else %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% assign processed_locations = processed_locations | push: location %}
    {% endfor %}
  {% endfor %}
  {% if result.orders.pageInfo.hasNextPage %}
    {% assign query_input.cursor = result.orders.edges.last.cursor %}
  {% else %}
    {% break %}
  {% endif %}
{% endfor %}


{% capture attachment %}
  {
    "filename": "report_orders_bin_location_{{start_date | date: "%Y-%m-%d"}}.csv",
    "content": {{ csv | json }}
  }
{% endcapture %}

{% json email_params %}
  {
    "to": {{ REPORT_RECIPIENT | json }},
    "subject": "Orders line items bin numbers",
    "replyTo": {{ REPORT_RECIPIENT | json }},
    "html": "Orders attached",
    {% if opt_in_count > 0 %}
    "attachments": [{{attachment}}]
    {% else %}
    "html": "<p>No orders in last 24h</p>"
    {% endif %}
  }
{% endjson %}

{{ email_params | email }}