{% capture query %}
  query productVariants($query: String!, $locationId: ID!, $cursor: String) {
    productVariants(first: 250, query: $query, after: $cursor) {
      edges {
        node {
          title
          barcode
          inventoryItem {
            id
            sku
            inventoryLevel(locationId: $locationId) {
              available
              id
            }
          }
        }
        cursor
      }
      pageInfo {
        hasNextPage
      }
    }
  }
{% endcapture %}

{% capture bulk_adjust_inventory_mutation %}
  mutation inventoryBulkAdjustQuantityAtLocation($inventoryItemAdjustments: [InventoryAdjustItemInput!]!, $locationId: ID!) {
    inventoryBulkAdjustQuantityAtLocation(inventoryItemAdjustments: $inventoryItemAdjustments, locationId: $locationId) {
      inventoryLevels {
        id
      }
      userErrors {
        field
        message
      }
    }
  }
{% endcapture %}

{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
  {% json query_variables %}
    {
      "query": "sku:1234",
      "locationId": "gid://shopify/Location/123456"
    }
  {% endjson %}
  {% json bulk_adjust_inventory_mutation_variables %}
    {
      "inventoryItemAdjustments": {},
      "locationId": "gid://shopify/Location/123456"
    }
  {% endjson %}
  {% assign result = query | graphql: query_variables %}
  {% assign result = bulk_adjust_inventory_mutation | graphql: bulk_adjust_inventory_mutation_variables %}
{% endif %}

{% assign one_hour = 3600 %}
{% assign current_timestamp = "now" | date: "%s" %}
{% assign breakpoint = current_timestamp | minus: breakpoint %}
{% assign local_file_name = "file_to_process.csv" %}
{% assign location_id = LOCATION_ID %}
{% assign inventory_item_adjustments = "[]" | parse %}

{% json ftp_params %}
  {
    "mode": "list",
    "host": "{{HOST}}",
    "user": "{{USER}}",
    "password": "{{PASSWORD}}",
    "path": "{{PATH}}",
    "port": 22,
    "sftp": true
  }
{% endjson %}

{% assign result = ftp_params | ftp %}

{% assign ftp_params["mode"] = "download" %}

{% assign new_line = "
" %}
{{result.files | log }}
{%- comment -%}Iterate over files found{%- endcomment -%}
{% for file in result.files %}
  {% unless file contains ".processed" %}
    {% assign file_meta = file | meta_content %}
    {{file_meta | log }}
  {% endunless %}
{% endfor %}
{{"DEBUG LOG 5" | log }}