{% comment %}GraphQL queries and mutations definitions{% endcomment %}
{% capture customer_segment_query %}
  query customerSegmentMembers($query: String!, $cursor: String) {
    customerSegmentMembers(first: 250, query: $query, after: $cursor) {
      pageInfo {
        hasNextPage
      }
      edges {
        cursor
        node{
          id
          displayName
          firstName
          lastName
          defaultEmailAddress{
            emailAddress
          }
          membership_start_date: metafield(namespace: "greyson", key: "membership_start_date"){
            value
          }
          membership_expiration_date: metafield(namespace: "greyson", key: "membership_expiration_date"){
            value
          }
          membership_level_handle: metafield(namespace: "greyson", key: "membership_level_handle"){
            value
          }
          membership_level: metafield(namespace: "greyson", key: "membership_level"){
            reference{
              ... on Metaobject{
                title: field(key:"title"){
                  value
                }
              }
            }
          }
          persona: metafield(namespace: "greyson", key: "persona"){
            reference{
              ... on Metaobject{
                title: field(key:"title"){
                  value
                }
              }
            }
          }
        }
      }
    }
  }
{% endcapture %}

{% comment %} Feed compiler with dummy values to evaluate permissions required.{% endcomment %}
{% if mode.compiler %}
  {% json customer_segment_query_input %}
    {
      "cursor": null,
      "query": "{{ TASK_QUERY }}"
    }
  {% endjson %}
  {% assign result = customer_segment_query | graphql: customer_segment_query_input %}
{% endif %}
{% comment %}END REST and GraphQL definitions{% endcomment %}

{% assign cursor = "null" | parse %}

{% assign current_timestamp = "now" | in_timezone: "America/New_York" | date: "%s" %}

{% assign listrak_payload = "[]" | parse %}

{% assign page_count = 0 %}

{% comment %} Iterate over pages {% endcomment %}
{% for n in (0..1000) %}
  {% assign page_customer_count = 0 %}
  {% assign page_count = page_count | plus: 1 %}
  {% capture page_start_log %}
    Gathering customer segment data from page {{ page_count }}.
  {% endcapture %}
  {{ page_start_log | log }}

  {% json query_input %}
    { 
      "cursor": {{ cursor | json }}, 
      "query": "{{ TASK_QUERY }}"
    }
  {% endjson %}
  
  {% assign result = customer_segment_query | graphql: query_input %}

  {% comment %} Iterate over orders on single page {% endcomment %}
  {% for customer_segment_member_edge in result.customerSegmentMembers.edges %}
    {% assign customer = customer_segment_member_edge.node %}
    {% assign customerEmail = customer.defaultEmailAddress.emailAddress %}
    {% if TEST_MODE %}
      {% if customerEmail and customerEmail != "matthew@myntr.io" %}
        {% assign cursor = customer_segment_member_edge.cursor %}
        {% continue %}
      {% endif %}
    {% endif %}
    {% assign customerId = customer.id | split: '/' | last %}
    {% assign customerDisplayName = customer.displayName %}

    {% unless customerEmail %}
      {% if EXTRA_LOGS %}
        {% capture no_email_message %}
          Customer {{ customerId }} has no e-mail assigned. Unable to send this contact into Listrak.
        {% endcapture %}
        {{ no_email_message | log }}
      {% endif %}
      {% assign cursor = customer_segment_member_edge.cursor %}
      {% continue %}
    {% endunless %}

    {% comment %}Date like 2020-03-23 or empty string, must be formatted as mm/dd/yyyy if not empty.{% endcomment %}
    {% assign customerMembershipStartDate = customer.membership_start_date.value | default: "" %}
    {% comment %}Date like 2022-09-26 or empty string, must be formatted as mm/dd/yyyy if not empty.{% endcomment %}
    {% assign customerMembershipExpirationDate = customer.membership_start_date.value | default: "" %}
    {% comment %}String like "crimson-wolf-membership" or empty string, need to convert this into a title like "Crimson Wolf".{% endcomment %}
    {% assign customerMembershipLevelHandle = customer.membership_level_handle.value | default: "" %}
    {% comment %}String like "Crimson Wolf" or empty string{% endcomment %}
    {% assign customerMembershipLevel = customer.membership_level.reference.title.value | default: "" %}
    {% comment %}String like "Scarlett Wolf Sexy Persona" or empty string{% endcomment %}
    {% assign customerPersona = customer.persona.reference.title.value | default: "" %}

    {% comment %}A flag to determine if the customer has an active membership. Defautl to false, we must prove we have an active membership.{% endcomment %}
    {% assign customerMembershipActive = false %}
    {% comment %}If we have an expiration date{% endcomment %}
    {% if customerMembershipExpirationDate != "" %}
      {% assign customer_membership_expiration_timestamp = customerMembershipExpirationDate | date: "%s" %}
      {% if customer_membership_expiration_timestamp > current_timestamp %}
        {% comment %}The customer's expiration date is greater than the current time. They haven't expired.{% endcomment %}
        {% assign customerMembershipActive = true %}
      {% endif %}
    {% endif %}

    {% comment %}Set the membership level title, if the object is empty build from the handle{% endcomment %}
    {% if customerMembershipLevel != "" %}
      {% assign customerMembershipLevelTitle = customerMembershipLevel %}
    {% elsif customerMembershipLevel == "" and customerMembershipLevelHandle != "" %}
      {% assign customerMembershipLevelHandleSplit = customerMembershipLevelHandle | split: '-' %}
      {% assign customerMembershipLevelTitle = "" %}
      {% for handlePart in customerMembershipLevelHandleSplit %}
        {% if handlePart == "membership" %}
          {% continue %}
        {% endif %}
        {% assign titleCasePart = handlePart | capitalize %}
        {% unless customerMembershipLevelTitle == "" %}
          {% assign customerMembershipLevelTitle = customerMembershipLevelTitle | append: " " %}
        {% endunless %}
        {% assign customerMembershipLevelTitle = customerMembershipLevelTitle | append: titleCasePart %}
      {% endfor %}
    {% elsif customerMembershipLevel == "" and customerMembershipLevelHandle == "" %}
      {% if EXTRA_LOGS %}
        {% capture no_membership_level_message %}
          Customer {{ customerId }} has no membership level we can source. Unable to send this contact into Listrak.
        {% endcapture %}
        {{ no_membership_level_message | log }}
      {% endif %}
      {% assign cursor = customer_segment_member_edge.cursor %}
      {% continue %}
    {% endif %}

    {% comment %}Convert date from shopify timestamp to mm/dd/yyyy format{% endcomment %}
    {% if customerMembershipExpirationDate != "" %}
      {% assign customerMembershipExpirationDateFormatted = customerMembershipExpirationDate | date: "%m/%d/%Y" %}
    {% endif %}

    {% if customerMembershipStartDate != "" %}
      {% assign customerMembershipStartDateFormatted = customerMembershipStartDate | date: "%m/%d/%Y" %}
    {% endif %}

    {% capture contact_entity %}
      {
        "externalContactID": "{{ customerId }}",
        "emailAddress": "{{ customerEmail }}",
        "segmentationFieldValues": [
          {
            "segmentationFieldId": 13656,
            "value": "{{ customerMembershipLevelTitle }}"
          },
          {
            "segmentationFieldId": 13654,
            "value": "{{ customerMembershipExpirationDateFormatted }}"
          },
          {
            "segmentationFieldId": 13655,
            "value": "{{ customerMembershipStartDateFormatted }}"
          },
          {
            "segmentationFieldId": 13697,
            "value": {{ customerMembershipActive }}
          },
          {
            "segmentationFieldId": 13696,
            "value": "{{ customerPersona }}"
          }
        ]
      }
    {% endcapture %}

    {% assign listrak_payload = listrak_payload | push: contact_entity %}

    {% assign page_customer_count = page_customer_count | plus: 1 %}

  {% endfor %}

  {% capture page_complete_log %}
    Gathering customer data for page {{ page_count }} is complete. Contact data gathered For {{ page_customer_count }} customers.
  {% endcapture %}
  {{ page_complete_log | log }}

  {% if result.customerSegmentMembers.pageInfo.hasNextPage %}
    {% assign cursor = result.customerSegmentMembers.edges.last.cursor %}
  {% else %}
    {% break %}
  {% endif %}

{% endfor %}

{% comment %}Get Listrak Access Token, and then send product data up to Listrak{% endcomment %}

{% comment %}Prepare options for request{% endcomment %}
{% json token_request_options %}
  {
    "url": "https://auth.listrak.com/OAuth2/Token",
    "method": "POST",
    "headers": {
      "Content-Type": "application/x-www-form-urlencoded"
    },
    "body": "grant_type=client_credentials&client_id={{LISTRAK_CLIENT_ID}}&client_secret={{LISTRAK_CLIENT_SECRET}}"
  }
{% endjson %}

{% comment %}Call endpoint{% endcomment %}
{% assign token_response = token_request_options | http %}

{% assign token = token_response.body.access_token %}

{% capture token_response_log %}
  Listrak auth returned token: {{ token }}
{% endcapture %}

{% comment %}Logs to console{% endcomment %}
{% if EXTRA_LOGS %}
  {{ token_response_log | log }}
{% endif %}

{% if token %}
  {% for contact in listrak_payload %}
    {% json update_contact %}
      {
        "url": "https://api.listrak.com/email/v1/list/{{ MASTER_LIST_ID }}/contact",
        "method": "POST",
        "headers": {
          "Content-Type": "application/json",
          "Authorization": "Bearer {{token}}"
        },
        "body": {{ contact | json }}
      }
    {% endjson %}

    {% assign update_contact_response = update_contact | http %}
    {% if EXTRA_LOGS %}
      {{ update_contact_response | log }}
    {% endif %}

    {% if update_contact_response.status == 201 %}
      {% assign updated_contact_count = updated_contact_count | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% capture job_complete_log %}
    Bulk email contact membership data job complete. Data updated for {{ updated_contact_count }} / {{ total_contact_count }} contacts sent to Listrak.
  {% endcapture %}
  {{ job_complete_log | log }}
{% else %}
  {{ "Unable to retrieve token from Listrak" | log }}
  {{ token_response | log }}
{% endif %}