{% json api_response %}
{
	"body": {
    	"test": 123
    }
}
{% endjson %}

{% assign response = "{}" | parse %}
{% assign response["body"] = api_response.body %}
{% assign response["status"] = 201 %}