
{% comment %}
{% json payload %}
	{
    	"customer_id": 5387485741245
   	}
{% endjson %}

{% assign result = payload | flow  %}

{{result | log }}

{% endcomment %}

{% json task_input %}{"test": 123}{% endjson %}

{{ task_input | run: "rest_receipt" }}

{% capture log %}TEST{% endcapture %}{{log | log}}

{% capture test %}
MAt
{% endcapture %}		

""