{% comment %}Start REST and GraphQL definitions{% endcomment %}
{% capture metafields_set_mutation %}
  mutation metafieldsSet($metafields: [MetafieldsSetInput!]!) {
  	metafieldsSet(metafields: $metafields) {
        metafields {
        	legacyResourceId
    	}
      userErrors {
          field
          message
    	}
    }
  }
{% endcapture %}

{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
  {% json metafields_input %}
    {
      "metafields": [
        {
          "key": "example",
          "namespace": "datajet",
          "ownerId": "gid://shopify/Product/123",
          "type": "single_line_text_field",
          "value": "metafield value"
        }
      ]
    }
  {% endjson %}
  {% assign metafields_set_result = metafields_set_mutation | graphql: metafields_input %}
{% endif %}
{%- comment -%}END REST and GraphQL definitions{%- endcomment -%}

{% assign product = payload %}
{% assign metafield_key = "last_tags" %}
{% assign metafield_namespace = "datajet" %}

{% assign last_known_tags_object = product.metafields | where: "namespace", metafield_namespace | where: "key", metafield_key | first %}

{% if last_known_tags_object == blank %}
  {% comment %}There is no last tags metafield object - this is first update after monitoring started. Set last tags for tracking and quit.{% endcomment %}
  {% json metafields_input %}
  {
    "metafields": [
      {
        "namespace": {{ metafield_namespace | json }},
        "key": {{ metafield_key | json }},
        "value": {{ product.tags | default: "N/A" | json }},
        "ownerId": {{ product.admin_graphql_api_id | default: "" | json }},
        "type": "single_line_text_field"
      }
    ]
  }
  {% endjson %}
  {% assign metafields_update_result = metafields_set_mutation | graphql: metafields_input %}
  {% capture log %}First trigger. Tags for monitoring are now setup.{% endcapture %}{{log | log}}
  {% break %}
{% endif %}

{% assign last_known_tags = last_known_tags_object.value | remove: "N/A" %}

{% if last_known_tags == product.tags %}
  {% break %}
{% endif %}

{% capture log %}Tags were updated!{% endcapture %}{{log | log}}
{% json metafields_input %}
{
  "metafields": [
    {
      "namespace": {{ metafield_namespace | json }},
      "key": {{ metafield_key | json }},
      "value": {{ product.tags | default: "N/A" | json }},
      "ownerId": {{ product.admin_graphql_api_id | default: "" | json }},
      "type": "single_line_text_field"
    }
  ]
}
{% endjson %}
{% assign metafields_update_result = metafields_set_mutation | graphql: metafields_input %}
{% assign product_tags_array = product.tags | split: ", " | compact %}
{% assign last_known_tags_array = last_known_tags | remove: "N/A" | split: ", " | compact %}
{% assign new_tags = product_tags_array | array_difference: last_known_tags_array %}
{% assign removed_tags = last_known_tags_array | array_difference: product_tags_array %}

{% if new_tags != empty %}
  {% capture log %}New tags: {{new_tags | join: ", "}} {% endcapture %}{{log | log}}
{% endif %}

{% if removed_tags != empty %}
  {% capture log %}Removed tags: {{removed_tags | join: ", "}} {% endcapture %}{{log | log}}
{% endif %}

