{% assign fulfillmentOrderId = payload.fulfillment_order.id | default: "gid://shopify/FulfillmentOrder/123456" %}

{% capture fulfillment_order_query %}
  query fulfillmentOrder($id: ID!) {
    fulfillmentOrder(id: $id) {
      lineItems(first: 20) {
        edges {
          node {
            lineItem {
              sku
            }
          }
        }
      }
      order {
        legacyResourceId
      }
    }
  }
{% endcapture %}

{% json fulfillment_order_query_variables %}
  {  "id": {{fulfillmentOrderId | json }} }
{% endjson %}

{% assign result = fulfillment_order_query | graphql: fulfillment_order_query_variables %}
{{result | log }}
{% assign orderId = result.fulfillmentOrder.order.legacyResourceId | default: "123456" %}

{% assign order_endpoint = "/orders/" | append: orderId | append: ".json" %}

{% capture order_request_params %}
  {
    "path": "{{order_endpoint}}",
    "method": "GET"
  }
{% endcapture %}

{% assign rest_response = order_request_params | rest %}
{{rest_response.body.order | log }}
{% capture task_input %}
    { "payload": {{ rest_response.body.order | default: "{}" | json }} }
{% endcapture %}

{% if rest_response.body.order != blank %}
  {{ task_input | run: TASK_HANDLE }}
{% endif %}