{{payload | log }}

{% assign orders_to_process = payload | split: "," %}

{% for order_to_process in orders_to_process %}
  {{order_to_process | log }}

  {% assign order_endpoint = "/orders/" | append: order_to_process | append: ".json" %}

  {% capture order_request_params %}
      {
        "path": "{{order_endpoint}}",
        "method": "GET"
      }
  {% endcapture %}

  {% assign rest_response = order_request_params | rest %}

  {% capture task_input %}
      {
          "payload": {{ rest_response.body.order | default: "{}" | json }}
      }
  {% endcapture %}
  {{"ORDER PROCESSED MOCK" | log }}
  {{"Sleep to avoid processing all at once" | sleep: 15}}
{% endfor %}