    {% json images_ftp_params %}
    {
        "mode": "list",
        "host": "{{HOST}}",
        "user": "{{USER}}",
        "password": "{{PASSWORD}}",
        "path": "{{IMAGES_PATH}}",
        "port": 21
    }
    {% endjson %}
    {% assign images_result = images_ftp_params | ftp %}
    {% assign images_list = images_result.files %}

    {% for image_to_download in images_list %}
        {% assign images_ftp_params["mode"] = "download" %}
        {% assign images_ftp_params["fileName"] = image_to_download %}
        {% assign images_ftp_params["file"] = image_to_download %}
        {% assign images_ftp_params["public_file"] = true %}
        {% assign img_download_result = images_ftp_params | ftp %}
        {{img_download_result | log }}
    {% endfor %}