{% comment %}
  Incoming request format example: 
  {
    "body": {
      "property": "value"
    },
    "headers": {
      "Content-Type": "application/json"
    },
    "method": "POST"
  }
{% endcomment %}

{% comment %} Returning empty response {% endcomment %}
{% json response %}
  {
    "body": {
      "status": "ok"
    }
  }

  
{% endjson %}
a
1231aaa


hmnn






ssass

ssss

















































jj