{% assign local_file_name = "fulfillment_to_process.csv" %}

{% json ftp_params %}
  {
    "mode": "list",
    "host": "code57.pl",
    "user": "mateusz@code57.pl",
    "password": "ftp_test_server098",
    "path": "/",
    "port": 21
  }
{% endjson %}

{% assign result = ftp_params | ftp %}

{{result | log }}
{{"sleep" | sleep: 60}}