{% json email_params %}
   {
        "to": "thibault@overdose.digital",
        "subject": "Dummy",
        "replyTo": "test@email.com",
        "html": "<h2> Hello world! dummy</h2>",
        "attachments": [
          {
            "filename": "test.csv",
            "content": "name,last_name \n john,smith",
            "contentType": "application/pdf"
          }
        ]
    }
{% endjson %}


{{ email_params | email }}