{% json fulfillment_event %}
{
	"status": "{{request.headers["status"] | downcase }}",
    "order_id": "{{request.headers["order-id"]}}",
    "order_name": "{{request.headers["order-name"]}}",
    "tracking_number": "{{request.headers["tracking-number"] | split: ":::" | first }}",
    "tracking_url": "{{request.headers["tracking-url"] | split: ":::" | first }}",
    "tracking_company": "{{request.headers["tracking-company"] | split: ":::" | first }}",
    "line_items": []
}
{% endjson %}

{% assign KLAVIYO_TOKEN = 1234 %}

{% if fulfillment_event.status == "confirmed" and fulfillment_event.message includes "CREATED" %}
	{% comment %} {% assign email_type = "Parent On Its Way Email" %} {% endcomment %}
{% elsif fulfillment_event.status == "out_for_delivery" %}
	{% assign email_type = "Out for Delivery Email" %}
{% elsif fulfillment_event.status == "delivered" %}
	{% assign email_type = "Delivered Email" %}
{% else %}
	{% comment %} Nothing to do {% endcomment %}
{% endif %}
{% assign email_type = "TEST" %}
{% if email_type != blank %}
	{% assign parent_email = sec_email  %}
  {% json data %}
  {
      "token": "{{KLAVIYO_TOKEN}}",
      "event": "{{email_type}}",
      "customer_properties": {
          "$email": "{{parent_email}}"
      },
      "properties": {
        "order_id": "{{fulfillment_event.order_name}}",
        "tracking_url": "{{fulfillment_event.tracking_url }}",
        "tracking_number": "{{fulfillment_event.tracking_number }}",
        "tracking_company": "{{fulfillment_event.tracking_company}}",
        "line_items": null
      }
  }
  {% endjson %}
  {% assign data["properties"]["line_items"] = fulfillment_event["line_items"] %}
  {% json request_options %}
  { 
    "url": "https://a.klaviyo.com/api/track",
    "method": "POST",
    "headers": {
      "Content-Type": "application/json"
    },
    "body": {{ data | json }}
  }
  {% endjson %}
  {% assign response = request_options | http %}
  {{response | log }}
  {% if response.status == 200 and response.body == 1 %}
      {% capture log %}Email sent to {{parent_email}} via Klaviyo. Order ID: {{fulfillment_event.order_name}}{% endcapture %}{{ log | log }}
  {% else %}
      {% capture log %}Couldn't send email to {{parent_email}} via Klavyio. Please check your Klaviyo token provied.{% endcapture %}{{ log | log: "WARNING" }}
  {% endif %}
{% else %}
	{% capture log %} No secondary_email property on any of the {{order.name}} line items.{% endcapture %}{{ log | log: "INFO" }}
{% endif %}

{% json response %}
  {
    "body": null,
    "status": "201",
    "headers": {
        "Content-Type": "application/mat"
    }
  }
{% endjson %}