{{"Import started" | log }}
{%- comment -%}Start REST and GraphQL definitions{%- endcomment -%}
{% capture product_create_mutation %}
mutation productCreate($input: ProductInput!) {
    productCreate(input: $input) {
        product {
            id
        }
        shop {
            id
        }
        userErrors {
            field
            message
        }
    }
}
{% endcapture %}


{% capture product_update_mutation %}
mutation productUpdate($input: ProductInput!) {
    productUpdate(input: $input) {
        product {
            id
        }
        userErrors {
            field
            message
        }
    }
}
{% endcapture %}
query productVariant($id: ID!) {
    productVariant(id: $id) {
        id
        sku
        availableForSale
    }
}
{% capture product_query %}
query productByHandle($handle: String!) {
    productByHandle(handle: $handle) {
        id
    }
}
{% endcapture %}

{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
  {% json product_create_mutation_variables %}
    {
      "input": {}
    }
  {% endjson %}
  {% assign result = product_create_mutation | graphql: product_create_mutation_variables %}
{% endif %}
{%- comment -%}END REST and GraphQL definitions{%- endcomment -%}

{% assign file_url = "https://datajet-staging.s3.us-east-2.amazonaws.com/ravensfans.myshopify.com/DataJet/shop-martins-new-images.csv" %}
{% assign remote_file_name = file_url | split: "/" | last | split: "?" | first %}
{{remote_file_name | log }}
{% capture log %}Processing remote file: {{remote_file_name}} {% endcapture %} {{log | log: }}
{% assign timestamp = "now" | date: "%s" %}
{% assign local_file_name = "data_to_process.csv"  %}
{% json upload_options %}
  {
    "fileName": "{{local_file_name}}",
    "url": {{file_url | json }},
    "public": false
  }
{% endjson %}
{% assign file_result = upload_options | file %}
{{file_result | log }}
{% assign file_content = local_file_name | content %}
{% assign file = file_content | parse_csv %}
{% assign redis_key = "current_runs." | append: remote_file_name %}
{{redis_key | log }}
{% assign processed_variants = redis_key | get %}
{{processed_variants | log }}
{% unless processed_variants %} {% assign processed_variants = 0 %} {% endunless %}
{% capture log %}Variants already processed from source file: {{processed_variants}} {% endcapture %} {{log | log: }}

{% assign this_run_variants = 0 %}
{% assign total_variants_in_file = file.size %}
{{"Total variants in a file: " | append: total_variants_in_file | log }}
{% assign file = file | slice: processed_variants, total_variants_in_file %}

{% if processed_variants >= total_variants_in_file %}
	{% capture email_params %}
		{
			"to": "{{NOTIFICATION_RECIEVER}}",
			"subject": "Item not stocked",
			"html": "All variants in your file:{{remote_file_name}} have been created. You can upload next file and update task paramters. Remeber that the file needs to have different name from the previous one!"
		}
	{% endcapture %}
	{{ email_params | email }}
{% else %}
{% if file %}
    {% assign unique_products = file | map: "Handle" | uniq %}
    {{unique_products.size | log }}
    {% for unique_product in unique_products %}
		{% assign existing_product_id = "" %}
        {% assign product_variants = file | where: "Handle", unique_product %}

        {% assign product = product_variants.first %}

        {% if product["Title"] == blank %}
            {% for product_variant in product_variants %}
                {% if product_variant["Title"] != blank %}
                    {% assign product = product_variant %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% json query_input %}{"handle": {{product["Handle"] | json }}}{% endjson %}

        {% assign result = product_query | graphql: query_input  %}
        
        {% assign mutation = product_create_mutation %}
        {% if result.productByHandle != blank %}
            {% assign mutation = product_update_mutation %}
            {% assign existing_product_id = result.productByHandle.id %}
        {% endif %}

        {% assign shopify_product_variants = "[]" | parse %}

        {% for product_variant in product_variants %}
        	{% assign processed_variants = processed_variants | plus: 1 %}
            {% assign this_run_variants = this_run_variants | plus: 1 %}
            {% if product_variant["Variant Price"] == blank %}{% continue %}{% endif %}
            {% capture variant_options %}{{product_variant["Option1 Value"]}},{{product_variant["Option2 Value"]}},{{product_variant["Option3 Value"]}}{% endcapture %}
            {% assign variant_options = variant_options | split: "," %}
            {% json single_variant %}
                {
                    "sku": {{product_variant["Variant SKU"] | json }},
                    {% if product_variant["Variant Grams"] != blank %}
                    "weight": {{product_variant["Variant Grams"]}},
                    {% endif %}
                    "options": {{variant_options | json }},
                    {% if product_variant["Variant Inventory Qty"] != blank %}
                    "inventoryQuantities": [{
                        "availableQuantity": {{product_variant["Variant Inventory Qty"]}},
                        "locationId": "gid://shopify/Location/{{DEFAULT_STORE_LOCATION}}"
                    }],
                    {% endif %}
                    "inventoryPolicy": "{% if product_variant["Variant Inventory Policy"] == "deny" %}DENY{% endif %}",
                    "inventoryManagement": "{% if product_variant["Variant Inventory Tracker"] == "shopify" %}SHOPIFY{% endif %}",
                    {% if product_variant["Variant Compare At Price"] != blank %}
                    "compareAtPrice": {{product_variant["Variant Compare At Price"] | json }},
                    {% endif %}
                    "price": {{product_variant["Variant Price"] | times: 1}},
                    {% if product_variant["Image Src"] != blank %}
                        "imageSrc": {{product_variant["Image Src"] | json }},
                    {% endif %}
                    "barcode": {{product_variant["Variant Barcode"] | json }}
                }
            {% endjson %}
            {% comment %}
            {% assign single_variant = single_variant | parse %}
            {% endcomment %}
            {% assign shopify_product_variants = shopify_product_variants | push: single_variant %}
            
        {% endfor %}

        {% assign product_options = "[]" | parse %}

        {% if product["Option1 Name"] != blank %}
            {% assign product_options = product_options | push: product["Option1 Name"]  %}
        {% endif %}

        {% if product["Option2 Name"] != blank %}
            {% assign product_options = product_options | push: product["Option2 Name"]  %}
        {% endif %}

        {% if product["Option3 Name"] != blank %}
            {% assign product_options = product_options | push: product["Option3 Name"]  %}
        {% endif %}

        {% assign images = "[]" | parse %}

        {% if product["Image Src"] != blank %}
            {% json img_json %} {"src": "{{product["Image Src"]}}"} {% endjson %}
            {% assign images = images | push: img_json %}
        {% endif %}

        {% for image_variant in product_variants %}
            {%- comment -%}{%- endcomment -%}
            {% if image_variant["Variant Price"] != blank %} {% continue %} {% endif %}
            {% if image_variant["Image Src"] == blank %} {% continue %} {% endif %}
            {% json img_json %} {"src": "{{image_variant["Image Src"]}}"} {% endjson %}
            {% assign images = images | push: img_json %}
        {% endfor %}

        {% capture shopify_product %}
        {
            {% if existing_product_id != blank %}
            "id": {{existing_product_id | json}},
            {% endif %}
            "handle": "{{product["Handle"]}}",
            "title": "{{product["Title"]}}",
            "descriptionHtml": {{product["Body (HTML)"] | strip | json }},
            "giftCard": {% if product["Gift Card"] != blank %}true{% else %}false{% endif %},
            "options": {{product_options | json }},
            "productType": "{{product["Type"]}}",
            "seo": {
                "title": "{{product["SEO Title"]}}",
                "description": "{{product["SEO Description"]}}"
            },
            "tags": "{{product["Tags"]}}",
            "vendor": "{{product["Vendor"]}}",
            "variants": {{shopify_product_variants | json }},
            "status": "ACTIVE",
            "published": true
        }  
        {% endcapture %}
		
        {% assign shopify_product = shopify_product | parse %}
        {% if shopify_product["title"] == blank %} 
            {% capture log %}ERROR row: {{processed_variants}} - no title. Skipping {% endcapture %} {{log | log: "WARNING" }}
            {% assign result_set = redis_key | set: processed_variants %}
        	{% continue %} 
        {% endif %}
        {% assign shopify_product["images"] = images %}
        
        {% assign create_product_input = '{"input": {}}' | parse %}
        
        {% assign create_product_input["input"] = shopify_product %}
        {% assign result = mutation | graphql: create_product_input %}
        {% if result.errors == blank %}
            {% if existing_product_id != blank %}
                {% if result.productUpdate.userErrors == empty %}
                    {% capture log %}Updated product: {{shopify_product.title}} ({{shopify_product.handle}}){% endcapture %} {{log | log }}
                {% else %}
                    {% capture log %}ERROR product: {{shopify_product.title}} ({{shopify_product.handle}}){% endcapture %} {{log | log: "WARNING" }}
                    {{result.productUpdate.userErrors | log }}
                    {% continue %}
                {% endif %}
            {% else %}
                {% if result.productCreate.userErrors == empty %}
                    {% capture log %}Created product: {{shopify_product.title}} ({{shopify_product.handle}}){% endcapture %} {{log | log }}
                {% else %}
                	{{result.productCreate.userErrors | log }}
                    {% capture log %}ERROR product: {{shopify_product.title}} ({{shopify_product.handle}}) {% endcapture %} {{log | log: "WARNING" }}
                    {% continue %}
                {% endif %}
            {% endif %}
        {% else %}
        	{% capture log %}ERROR product: {{shopify_product.title}} ({{shopify_product.handle}}) {% endcapture %} {{log | log: "WARNING" }}
        	{{result.errors | log  }}
            {% continue %}
        {% endif %}
        {{"This run processed: " | append: this_run_variants | log }}
        {% assign result_set = redis_key | set: processed_variants %}
        {% if this_run_variants > MAX_VARIANTS_TO_CREATE %}
        	{% assign result = redis_key | set: processed_variants %}
            {% break %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endif %}