{% capture query %}
  query order($id: ID!) {
    order(id: $id) {
      id
      legacyResourceId
      fulfillmentOrders(first: 10, query:"status:OPEN") {
        edges {
          node { id } 
        }
      }
    }
  }
{% endcapture %}

{% capture query_order_id %}
  query orders($query: String!) {
    orders(first: 1, query: $query) {
      edges {
        node {
          id
          name
          legacyResourceId
        }
        cursor
      }
      pageInfo {
        hasNextPage
      }
    }
  }
{% endcapture %}

{% capture fulillment_create_mutation %}
  mutation fulfillmentCreateV2($fulfillment: FulfillmentV2Input!) {
    fulfillmentCreateV2(fulfillment: $fulfillment) {
      fulfillment {
        id
        status
      }
      userErrors {
        field
        message
      }
    }
  }
{% endcapture %}

{% capture tags_update_mutation %}
  mutation tagsUpdate($id: ID!, $tagsAdd: [String!]!, $metafields: [MetafieldsSetInput!]!) {
    tagsAdd(id: $id, tags: $tagsAdd) {
      node {
        id
      }
      userErrors {
        field
        message
      }
    }
    metafieldsSet(metafields: $metafields) {
      metafields {
        id
      }
      userErrors {
        field
        message
      }
  	}
  }
{% endcapture %}

{%- comment -%} Feed compiler with dummy values to evaluate permissions required.{%- endcomment -%}
{% if mode.compiler %}
  {% json query_variables %}
    { "id": "gid://shopify/Order/1234" }
  {% endjson %}
  {% assign result = query | graphql: query_variables %}
  {% json fulillment_create_mutation_variables %}
    { "fulfillment": {} }
  {% endjson %}
  {{ "Test" | log }}
  {% assign result = fulillment_create_mutation | graphql: fulillment_create_mutation_variables %}
    {{ "Test2" | log }}
  {% json tags_update_input %}
    {
      "id": {{ order.admin_graphql_api_id | default: "gid://shopify/Order/123456" | json }},
      "tagsAdd": ["fulfillment-created"],
      "metafields": [
          {
            "key": "fulfillment",
            "namespace": "outbound_delivery",
            "ownerId": "{{order.id}}",
            "type": "single_line_text_field",
            "value": "000134"
          }
      ]
    }
  {% endjson %}
  {% assign tags_update_result = tags_update_mutation | graphql: tags_update_input %}
{% endif %}

{% assign local_file_name = "fulfillment_to_process.csv" %}

{% assign new_line = "
" %}

{% json ftp_params %}
  {
    "mode": "list",
    "host": "{{HOST}}",
    "user": "{{USER}}",
    "password": "{{PASSWORD}}",
    "path": "{{PATH}}",
    "port": 21,
    "sftp": false
  }
{% endjson %}

{% assign result = ftp_params | ftp %}

{%- comment -%}Iterate over files found{%- endcomment -%}
{% for file in result.files %}
  {% unless file contains ".processed" %}
  	{{"Processing file: " | append: file | log }}
    {% assign has_error = false %}
    {% assign ftp_params["mode"] = "download" %}
    {% assign ftp_params["fileName"] = file %}
    {% assign ftp_params["file"] = local_file_name %}

    {% assign result = ftp_params | ftp %}

    {% assign file_content = local_file_name | content %}
    {% if file_content != blank %}
      {% assign fulfillment_lines = file_content | parse_csv %}

      {% assign fulfillment_data = fulfillment_lines.first %}
      {% if fulfillment_data != blank %}
        {% assign order_id = fulfillment_data["orderURL"] | remove: "cart" | split: "/" | last %}

        {% if order_id == blank %}
          {% json query_order_id_input %}
            { "query": "name:{{fulfillment_data["customerOrderNumber"]}}" }
          {% endjson %}

          {% assign result = query_order_id | graphql: query_order_id_input %}
          {% if result.orders.edges.first.node.name == fulfillment_data["customerOrderNumber"] %}
            {% assign order_id = result.orders.edges.first.node.legacyResourceId %}
          {% endif %}
        {% endif %}

        {% if order_id == blank %}
          {% assign has_error = true %}
        {% else %}
          {% json query_input %}
            { "id": "gid://shopify/Order/{{order_id}}" }
          {% endjson %}
          {% assign result = query | graphql: query_input %}
          {% assign order = result.order %}
          
          {% assign lineItemsByFulfillmentOrder = "[]" | parse %}
          {% if order.fulfillmentOrders.edges.size != 0 %}
            {% for fulfillmentOrderEdge in order.fulfillmentOrders.edges %}
              {% assign fulfillmentOrder = fulfillmentOrderEdge.node %}
              {% json el %}
                {
                  "fulfillmentOrderId": "{{fulfillmentOrder.id}}",
                  "fulfillmentOrderLineItems": null
                }
              {% endjson %}
              {% assign lineItemsByFulfillmentOrder = lineItemsByFulfillmentOrder | push: el %}
            {% endfor %}
            
            {% json fulfillment_mutation_input %}
              {
                "fulfillment": {
                  "lineItemsByFulfillmentOrder": {{lineItemsByFulfillmentOrder | json }},
                  {% if fulfillment_data["trackingURL"] != blank %}
                  "trackingInfo": {
                    "company": {{fulfillment_data["courier"] | json }},
                    "url": {{fulfillment_data["trackingURL"] | json }},
                    "number": {{fulfillment_data["consignmentNumber"] | json }}
                  },
                  {% endif %}
                  "notifyCustomer": true
                }
              }
            {% endjson %}
            {{fulfillment_mutation_input | log }}
            {% assign fulfillment_result = fulillment_create_mutation | graphql: fulfillment_mutation_input %}  

          {% else %}
            {% capture log %}No open fulfillment orders on {{fulfillment_data["customerOrderNumber"]}}. Skipping {% endcapture %} {{log | log }}
          {% endif %}
          
          {% if order.fulfillmentOrders.edges.size != 0 and fulfillment_result.fulfillmentCreateV2.fulfillment.id == blank %}
            {{fulfillment_result | log: "CRITICAL"}}
            {% assign has_error = true %}
          {% else %}
            {% json tags_update_input %}
              {
                "id": {{ order.id | json }},
                "metafields": [
                    {
                      "key": "fulfillment",
                      "namespace": "outbound_delivery",
                      "ownerId": "{{order.id}}",
                      "type": "single_line_text_field",
                      "value": "{{fulfillment_data["OutboundDelivery"] | default: "empty" | slice: 0, 10}}"
                    }
                ],
                "tagsAdd": ["fulfillment-created"]
              }
            {% endjson %}
            {% assign tags_update_result = tags_update_mutation | graphql: tags_update_input %}
            {% capture msg %}Order {{order.id}} fulfilled! {%- endcapture -%}{{msg | log }}
          {% endif %}
        {% endif %}

        {% if has_error %}
          {% capture email_params %}
            {
              "to": "thibault@overdose.digital",
              "subject": "{{shop.myshopify_domain}} ORDER: {{fulfillment_data["customerOrderNumber"]}} requires your attention. There was a problem with fulfillment.",
              "replyTo": "mateusz@overdose.digital",
              "html": "Something went wrong with above order, please check"
            }
          {% endcapture %}
          {{ email_params | email }}
        {% else %}
        {% endif %}
        {% assign ftp_params["mode"] = "move" %}
        {% assign result = ftp_params | ftp %}

      {% endif %}
    {% else %}
      {% capture log %}File content was blank{% endcapture %}{{log | log: "WARNING"}}
      {% assign ftp_params["mode"] = "move" %}
      {% assign ftp_params["newPath"] = PATH | append: file | append: ".processed" %}
      {% assign result = ftp_params | ftp %}
    {% endif %}
  {% endunless %}
{% endfor %}
